<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>비디오 업로드 - 자세히</h1>
<div class = "container">
    <h1>{{upload.utitle}}</h1>
    <p>작성자 : {{upload.uname}}</p>
    <p>{{upload.pub_date|date:"Y-m-d"}}</p>
    <p>{{upload.ubody|linebreaksbr}}</p>
    {% if upload.uvideo %}
    <br>

    {% if user.username == upload.uname %}
    <input type = "button" class = "outline-button" value = "수정" onClick="location.href='{% url 'vupdate' pk=upload.pk %}'">
    <input type = "button" class = "outline-button" value = "삭제" onClick="location.href='{% url 'vdelete' pk=upload.pk %}'">
    <input type = "button" class = "outline-button" value = "다운로드" onClick="location.href='{{upload.uvideo.url}}'">
    {% endif %}
    <input type = "button" class = "outline-button" value = "돌아가기" onClick="location.href='{% url 'vread' %}'">
</div>
  {% endif %}

</body>
</html>