<!DOCTYPE html>
<html>
<head>
	<title>vread</title>
</head>
<body>
    <h1>비디오 업로드 - 목록</h1>
    <input type = "button" class = "outline-button" value = "마이페이지" onClick="location.href='{% url 'mypage' %}'">
    <input type = "button" class = "outline-button" value = "생성" onClick="location.href='{% url 'vcreate' %}'">
        <div class="container">
                <table class = "table table-striped">
                    <thead>
                        <tr>
                            <td>작성자</td>
                            <td>제목</td>
                            <td>날짜</td>
                        </tr>
                    </thead>
                    {% for upload in uploads.all %}
                    {% if user.username == upload.uname %}
                    <tbody>
                        <tr>
                            <td>{{upload.uname}}</td>
                            <td><a href="{% url 'udetail' upload.id %}">{{upload.utitle}}</a></td>
                            <td>{{upload.pub_date|date:"Y-m-d"}}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                {% endfor %}
            </div>
</body>
</html>