{% load staticfiles %}
<!-- BOOTSTAP CDN -->
<!-- base.html 생기면 지우고 base.html 사용하기 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- css file-->
<link rel="stylesheet" href="{% static 'mypage.css' %}">

<body>
<br><br>
<img id="mimg"src="{% static 'user.jpg' %}" style="margin-top:-1.5em;"width="13%" height="27%">
{% if user.is_authenticated %}
<div id="m">
  <p id="user" style="margin-top:3em">{{ user.username }} 님, 반갑습니다 :)</p>
  <br>
  <div id="m2">

  <a class="uu" href="{% url 'logout' %}" >로그아웃</a>
  <a class="uu" href="{% url 'edit' user.id %}">개인정보 수정</a>
  <a class="uu" href="{% url 'vread' %}">동영상 올리기</a>


  </div>
</div><br><br>
<!-- video list 출력하기 -->
<div class="list">
<p>업로드한 영상</p>
</div><br>
<div class="vds">
<!-- for 문 사용 -->
<div class="card" style="width: 250;padding:3px;margin:0.8em;" >
    <!-- model 연결되면 수정하기 -->
   <iframe width="240" height="125"
        src="https://www.youtube.com/embed/9Vf8hhDtbIs">
    </iframe>
  <div class="card-body">
    <h5 class="card-title">Video title</h5><hr>
    <p class="card-text">눈으로 보는 노래, 도란도란</p>
  </div>
</div>

<div class="card" style="width: 250;padding:3px;margin:0.8em;" >
    <!-- model 연결되면 수정하기 -->
   <iframe width="240" height="125"
        src="https://www.youtube.com/embed/9Vf8hhDtbIs">
    </iframe>
  <div class="card-body">
    <h5 class="card-title">Video title</h5><hr>
    <p class="card-text">눈으로 보는 노래, 도란도란</p>
  </div>
</div>

<div class="card" style="width: 250;padding:3px;margin:0.8em;" >
  <!-- model 연결되면 수정하기 -->
  <iframe width="240" height="125"src="https://www.youtube.com/embed/9Vf8hhDtbIs"></iframe>
  <div class="card-body">
    <h5 class="card-title">Video title</h5><hr>
    <p class="card-text">눈으로 보는 노래, 도란도란</p>
  </div>
</div>
</div>

<div class="list">
<p>좋아요한 영상</p>
<div>
{% for y in yyy%}
<div class="cardlike" style="width: 250;padding:3px;margin:0.8em;" >
    <!-- model 연결되면 수정하기 -->
   <iframe width="240" height="125"
        src="https://www.youtube.com/embed/{{y.video_key}}">
    </iframe>
  <div class="card-body">
    <h5 class="card-title">{{y.title}}</h5><hr>
    <p class="card-text">눈으로 보는 노래, 도란도란</p>
  </div>
</div>
{%endfor%}

<br>



<!-- 로그인 안하고 접근했을 경우 방지-->
{% else %}
<script>
alert("로그인 후 이용가능합니다");
window.location.href="../../user/login/";
</script>
{% endif %}
</body>
